@{
    Layout = "_MainLayout";
}

<body>
    <div class="loginPanel">
        <div class="loginPanelHeader">
            <img src="./Images/key-chain.png"/>
            <div class="lPHText">Server monitor dashboard</div>
        </div>
        <div class="loginPanelBody">
            <input placeholder="Username" autocomplete="off" id="login"/>
            <input placeholder="Password" autocomplete="off" id="password" type="password"/>
            <button type="button" class="loginBtn" text="Login">Login</button>
        </div>
    </div>
</body>